@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #f1356d;;
}
.leftnav{
  border: 1px solid black;
  border-radius: 3px;
  width: fit-content;
  float: left;
}

.links{
  text-decoration: none;
  padding: 20px;
}

.leftnav tr{
  padding-top: 50px;
}

.logo{
  size:50px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #333;
  border-bottom: 2px solid #000000;
}
.navbar h1 {
  font-size: 40px;;
  color: #f1356d;
}

.navbar {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar links:hover {
  size:20px;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Change margin bottom later for spacing */
.post-preview{
  padding: 10px 16px;
  margin: 0 0 20px;
  border: 1px solid black;
}

.post-preview:hover{
  box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.1);
}

.post-preview h2{
  font-size: 20px;
  color: black;
  margin-bottom: 8px;
}


.post-preview a{
  text-decoration: none;
}

.post-details h2{
  font-size:20px;
  color: red;
  margin-bottom: 5px;
}

.post-details div{
  margin: 20px 0;
}

/* create new post form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}